html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map {
    width: 100%;
    height: 100%;
    min-height: 400px;
    min-width: 400px;
    z-index: 1;
}

#header {
    position: absolute;
    top: 5px;
    left: 100px;
    color: white;
    background: rgba(0,0,0,0.75);
    padding: 5px 10px;
    font-size: 1.4em;
    z-index: 2;
    border-radius: 7px;
}

#elevationChartHolder {
    position: absolute;
    top: 40px;
    right: 5px;
    color: white;
    background: rgba(0,0,0,0.75);
    padding: 5px;
    z-index: 2;
    border-radius: 7px;
}

#elevationChart {
    width: 900px;
    height: 300px;
}

.elevation-progress-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 24px;
    margin: -12px 0 0 -75px;
    border-radius: 4px;
    background: #666666;
    display: none;
}

.elevation-progress-label {
    width: 150px;
    color: #000000;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
}

.elevation-progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background: #80DD00;
    border-radius: 4px 0 0 4px;
    z-index: 2;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.2s ease-in-out;
}

.elevation-progress.finished {
    border-radius: 4px;
}

.elevation-progress > .elevation-progress-label {
    color: #FFFFFF;
}